body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 900px;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
    position: relative;
}

.center-circle {
    width: 200px;
    height: 200px;
    background-color: #006400;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.timer {
    font-size: 20px;
    margin-bottom: 10px;
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player.left {
    padding-right: 20px;
    margin-right: 20px;
}

.player.right {
    padding-left: 20px;
    margin-left: 20px;
}

.pieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px 0;
}

.player.left .piece {
    background-color: red;
}

.player.right .piece {
    background-color: blue;
}

input[type="number"] {
    width: 140px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

.reset-btn {
    align-self: center;
    margin-top: 20px;
}

